@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
 /* Basic reset for full-page effect */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.newSlider{
	color: #fff;
	position: relative;
	overflow: hidden;
}
h1{
	color: #3a03ff;
	
}

.cursor{
	position: absolute;
	top:0;
	left:20px;
	pointer-events: none;

}
.cursor .text{
	position: absolute;
	font-size: 2em;
	color: #00ff92;
	text-shadow: 0 0 15px #00ff9a,
	0 0 50px #00ff9a;
	text-transform: uppercase;
	transform: translate(-50% -50%);


}

.newSlider::before{
	content: '';
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top:  0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.newSlider *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.newSlider h1{
	margin: 0.3em;
	font-size: 3em;
}
.newSlider h2{
	margin-bottom: 0.5em;
}
.newSlider .Title{
	text-align: center;
	background-color: rgba(0, 0, 0, .8);
	padding: 2em;
	position: relative;
}
.newSlider .Title h3{
	margin: 1em 0;
}
.newSlider .Title p{
	color: #fc0d0d;
	font-size: 1.3em;
	letter-spacing: 2px;
}
.newSlider .Timeline{
	margin: 5em auto;
	max-width: 34.15em;

}
.newSlider .Line{
	position: absolute;
	top: 50%;
	width: 4px;
	height: 100%;
	background-color: #fff;

}
.newSlider .Checkpoint{
	height: 30em;
	max-width: 34em;
	padding: 6em 0;
	display: flex;
	align-items: center;
	position: relative;
}
.newSlider .Images img{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}
.newSlider .Checkpoint .Text{
	border: 1px solid #6b6b6b;
	border-radius: 1em;
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.5);
}
.newSlider .Checkpoint p{
	line-height: 27px;
	color: #fff;

}
.newSlider .Checkpoint:nth-child(odd){
	padding-left: 3em;
	transform: translateX(17em);
}
.newSlider .Checkpoint:nth-child(even){
	padding-right: 3em;
	transform: translateX(-17em);	
}
.newSlider .Checkpoint:nth-child(odd) .Text::before,
.newSlider .Checkpoint:nth-child(even) .Text::before{
	content: '';
	background: #fff;
	width: 3em;
	height: 3px;
	position: absolute;
	top: 50%;
	transform: translateX(-50%);
}
.newSlider .Checkpoint:nth-child(odd) .Text::before{
	left: -3em;
}
.newSlider .Checkpoint:nth-child(even) .Text::before{
	right: -3em;
}
.newSlider .Checkpoint:nth-child(odd) .Line{
	left: -2px;
}
.newSlider .Checkpoint:nth-child(even) .Line{
	right: -2px;
}
.newSlider .Checkpoint:nth-child(odd) .Text::after,
.newSlider .Checkpoint:nth-child(even) .Text::after
{
	content: '';
	background-color: #fff;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.newSlider .Checkpoint:nth-child(odd) .Text::after{
	left: -57px;
}
.newSlider .Checkpoint:nth-child(even) .Text::after{
	right: -57px;
}
@media screen and (max-width: 1150px){
	.newSlider .Timeline{
		width: 80vw;
	}
	.newSlider .Timeline .Checkpoint{
		width: 100%;
		transform: none;
		padding-left: 0;
		padding-right: 0;
	}
	.newSlider .Timeline .Checkpoint .Line{
		right: initial;
		left: 50%;
		transform: translateX(-50%);
	}
	.newSlider .Timeline .Checkpoint .Text::before{
		width: 3px;
		height: 4em;
		top: -4em;
		left: 50%;
		transform: translateX(-50%);
	}
	.newSlider .Timeline .Checkpoint .Text::after{
		top: -4.5em;
		left: 50%;
		transform: translateX(-50%);
	}

}

.mainSlider{
	
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}
.mainSlider .slider{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.mainSlider .slider ul{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.mainSlider .slider ul li{
	list-style: none;
	margin-bottom: 50px;

}
.mainSlider .slider ul li input{
	position: relative;
	z-index: 1000;
	width: 20px;
	height: 20px;
	margin: 0 5px;
}
.mainSlider .slider ul li .slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mainSlider .slider ul li .slide .face{
	position: absolute;
	width: 50%;
	height: 100%;
	background: #fff;
}
.mainSlider .slider ul li .slide .face.face1{
	left: 0;
	transition: transform 1s;
	transform-origin: top;
	transform: rotateX(90deg);
}
.mainSlider .slider ul li .slide .face.face1 img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mainSlider .slider ul li .slide .face.face2{
	right: 0;
	transition: transform 1s;
	transform-origin: top;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(90deg);
	
	
}
.mainSlider .slider ul li .slide .face.face2 h2{
	font-size: 4em;
	color: #333;
}

.mainSlider .slider ul li input[type="radio"]:checked ~ .slide .face.face1{
	transform: rotateX(0deg);
	transition: transform 1s;
	transform-origin: bottom;
}
.mainSlider .slider ul li input[type="radio"]:checked ~ .slide .face.face2{
	transform: rotateX(0deg);
	transition: transform 1s;
	transform-origin: top;
}
.scrollerTop{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}

.scrollerTop section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #111;
}
.scrollerTop h2{
	color: #fff;
	font-size: 4em;
	display: flex;
	font-weight: 400;
	--webkit-box-reflect: below -48px;
}
.octagonMenu{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #2f363e;

}
.octagonMenu h1{
	color: powderblue;
}
.octagonMenu .menu{
	position: absolute;
	width: 260px;
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.octagonMenu .menu li{
	position: absolute;
	left: 0;
	list-style: none;
	transform-origin: 130px;
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));
	transform: rotate(0deg) translateX(100px);
}
.octagonMenu .menu.active li{
	transform: rotate(calc(360deg / 8 * var(--i)));
}
.octagonMenu .menu li a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	font-size: 1.5em;
	border-radius: 50%;
	color:  #fff;
	transform: rotate(calc(360deg / -8 * var(--i)));
	color:  transparent;
	transition: 1s;
	transition-delay: 0.5s;
}
.octagonMenu .menu.active li a{
	color: var(--clr);
}
.octagonMenu .menu li a::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 2px;
	border-radius: 2px;
	background: var(--clr);
	transform: rotate(calc(var(--i) * 90deg)) translate(0,25px);
	transition: height 0.5s, width 0.5s,transform 0.5s;
	transition-delay: 0s,0s,0s;
}
.octagonMenu .menu.active li a::before{
	width: 60px;
	height: 60px;
	border: 2px solid var(--clr);
	box-sizing: border-box;
	background: #2f363e;
	transform: rotate(calc(var(--i) * 90deg)) translate(0px,0px);
	transition: transform 0.5s, height 0.5s, width 0.5s;
	transition-delay: 1s,1.5s,1.5s;
}
.octagonMenu .menu.active li:hover a::before{
	background: var(--clr);
	color: #2f363e;
	box-shadow: 0 0 10px var(--clr),
	0 0 30px var(--clr),
	0 0 50px var(--clr);
}
.octagonMenu .menu li a::after{
	content: '';
	position: absolute;
	left: 50px;
	width: 20px;
	height: 2px;
	background: var(--clr);
	z-index: -1;
	transform: rotate(calc(var(--i)*0deg)) translate(15px,0px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.octagonMenu .menu.active li a::after{
	left: 10px;
	width: 40px;
	transition-delay: 0.5s;
	transform: rotate(calc(var(--i)*45deg)) translate(15px,0px);
}
.octagonMenu.active li:hover a ion-icon{
	position: relative;
	color: #2f363e;
	z-index: 100000;
}
.octagonMenu .menuToggle{
	position: absolute;
	width: 60px;
	height: 60px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border-radius: 50%;
	cursor: pointer;
	font-size: 2em;
	transition: transform 1.5s;
}
.octagonMenu .menu.active .menuToggle{
	transform: rotate(315deg);
}
.textHover{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-direction: column-reverse;
	min-height: 100vh;
	background: #001f25;
}
.textHover h2{
	position: relative;
	font-size: 6em;
	color: transparent;
	-webkit-text-stroke:2px #00efff;
	text-transform: uppercase;
	cursor: default;
}
.textHover h2 span{
	display: inline-flex;
	transition: 0.5s ease-in-out;
	filter: drop-shadow(0 0 15px #00efff);
}
h2 span:nth-child(even){
	overflow: hidden;
	letter-spacing: -1em;
}
h2:hover ~ h2 span:nth-child(even),
h2:hover span:nth-child(even){
	letter-spacing: 0;
	color: #00efff;
}
#BTNCLASS1{
	text-align: center;
	background-color: goldenrod;
	width: 100%;
	height: 100%; 
	display: none;
}

#BTNCLASS2{
	text-align: center;
	background-color: goldenrod;
	width: 100%;
	height: 100%; 
	display: none;
}
#BTNCLASS3{
	text-align: center;
	background-color: goldenrod;
	width: 100%;
	height: 100%; 
	display: none;
}
#BTNCLASS4{
	text-align: center;
	background-color: goldenrod;
	width: 100%;
	height: 100%; 
	display: none;
}
.BTN1 #BTN1{
	background-color: lightyellow;
	color: orange;
	border: 1px solid lightblue;
	border-radius: 10px;
}
.BTN2 #BTN2{
	background-color: lightyellow;
	color: darkorange;
	border: 1px solid mediumaquamarine;
	border-radius: 10px;
}
.BTN3 #BTN3{
	background-color: lightyellow;
	color: orangered;
	border: 1px solid darkslateblue;
	border-radius: 10px;
}
.BTN4 #BTN4{
	background-color: lightyellow;
	color: orangered;
	border: 1px solid darkslateblue;
	border-radius: 10px;
}
.BTN5 #BTN5{
	background-color: lightyellow;
	color: orangered;
	border: 1px solid darkmagenta;
	border-radius: 10px;
}
.BTN6 #BTN6{
	background-color: lightyellow;
	color: orange;
	border: 1px solid lightblue;
	border-radius: 10px;
}
.BTN7 #BTN7{
	background-color: lightyellow;
	color: orange;
	border: 1px solid lightblue;
	border-radius: 10px;
}


.Bigletter{
	color: red;
	font-size: 10vh;
}
.BodyStart a{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;


}
.BodyStart a:hover{
	color: #255784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3;
	transition-delay: 0.1s;
}

.BodyEnd .banner{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.BodyEnd .banner video{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.BodyEnd .banner h2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	font-size: 20vw;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	line-height: 100vh;
	mix-blend-mode: screen;

}
.Body3{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #222;
}
.Body3 .container{
	position: relative;
	display: grid;
	grid-gap: 15px;
	width: 600px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 150px 150px 150px 150px;
	grid-template-areas: "img1 img3 img4" 
						 "img1 img3 img6" 
						 "img2 img3 img6" 
						 "img2 img5 img5";

}
.Body3 .container .img1{
	grid-area: img1;
}
.Body3 .container .img2{
	grid-area: img2;
}
.Body3 .container .img3{
	grid-area: img3;
}
.Body3 .container .img4{
	grid-area: img4;
}
.Body3 .container .img5{
	grid-area: img5;
}
.Body3 .container .img6{
	grid-area: img6;
}
.Body3 .container .item{
	position: relative;
	background: #fff;
}
.Body3 .container .item img{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	border-radius: 10px;
}
.Body3 .container:hover .item img:not(:hover){
	filter: grayscale(1);
	opacity: 0.5;
}
.Body2{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #111;
}
.Body2 .container{
	position: relative;
	width: 400px;
	height: 200px;
	display: inline-flex;
}
.Body2 .container .card .imgBx{

	position: absolute;
	inset: 0;
	background: #222;
	border-radius: 20px;
}
.Body2 .container .card .imgBx img{
	position:relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	border-radius: 20px;
}
.Body2 .container .card:hover .imgBx img{
	opacity: 0;
}
.Body2 .container .card .c3d{
	position: relative;
	z-index: 1000;
	opacity: 0;
	transition: 0.5s;
	transform: translateY(0);
}
.Body2 .container .card:hover .c3d{
	opacity: 1;
	transform: translateY(-25%);
}
.Body2 .container .card h2{
	position: relative;
	bottom: 10px;
	left: 70%;
	transform: translateX(-50%);
	color:  #fff;
	font-size: 1.50em;
	font-weight: 600;
	letter-spacing: 0.05em;
	background: var(--clr);
	width: 80%;
	text-align: center;
	padding: 5px 20px;
	border-radius: 10px;
	transition: 0.5s;
	opacity: 0;
}
.Body2 .container .card:hover h2{
	bottom: 30px;
	opacity: 1;
}
.Body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #f5f5f5;
}
.Body .box{
	position: relative;
	width: 240px;
	height: 300px;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(210deg);
	transition: 1.5s;
}
.Body .box::before{
	content: '';
	position: absolute;
	width: 240px;
	height: 240px;
	background: #2225;
	z-index: 1000;
	transform: translateY(240px) rotateX(90deg) scale(1.1);
	filter: blur(40px);
}
.Body .box .card{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background: linear-gradient(90deg,#ddd,#eee);
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i)*90deg)) translateZ(120px);
}
.Body .box .card .imgBx{
	position: relative;
	width: 100%;
	height: 240px;
}
.Body .box .card .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Body .box .card h2{
	position: relative;
	top: 10px;
	width: 240px;
	text-align: center;
	font-size: 1em;
	font-weight: 500;
	line-height: 1em;
	text-transform: uppercase;
	transform-style: preserve-3d;
	transform: translateZ(30px);
	backface-visibility: hidden;
}
.Body .box .card h2 span{
	font-size: 0.75em;
	color: #f44336;
}
.Body .btns{
	position: relative;
	bottom: 80px;
	display: flex;
	gap: 30px;
}
.Body .btns div{
	position: relative;
	width: 60px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Body .btns div:active{
	background: #333;
}
.Body .btns div::before{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-top:  3px solid #333;
	border-right:  3px solid #333;
	transform: rotate(45deg) translate(-2.5px,2.5px);
}
.Body .btns div.prev::before{
	transform: rotate(225deg) translate(-2.5px,2.5px);	
}
.Body .btns div.active::before{
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;

}
.multicolortext {
    background-image: linear-gradient(to left, violet, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   	color: transparent;
   	border: 1px solid black;

}

body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#header{
	height: 1000px;
/* 	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/background.jpg'); */
	/* background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/Portfolio-Site/images/background.jpg'); */
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}
.user-box
{
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.user-box img{
	border-radius: 50%;
	width: 250px;
	border: 2px solid #6caed5;
}
.user-box h1{
	color:yellow;
	font-weight: bold;
	margin:10px;
}
.user-box p{
	color: yellow;
}
.scroll-btn{
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	border:2px solid yellow;
	padding:10px 10px 10px;
	border-radius: 30px;
}
.scroll-bar span
{
	border:2px solid yellow;
	font-size: 10px;
	border-radius: 30px;
	

}
.scroll-bar{
	animation: mover 1s infinite alternate;
}
@keyframes mover{
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
}
/*-----------------About------------*/
.about
{
	padding-top: 100px;
	padding-bottom: 50px;
	color:white;
}
.profile-img
{
	height: 400px;
}
.nav-bar{
	top: 0;
	position: sticky;
	z-index:2;
}
.navbar{
	background-color: #000;
}
.navbar-brand img{
	height: 50px;
}
.nav-bar .fa-bars
{
	font-size: 35px;
	color: yellow;
}
.navbar-toggler
{
	outline: none !important;
}
.navbar-nav{
	float:right;
	text-align: righr;
}
.nav-link{
	color: yellow !important;

}

.skills-bar p{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress{
	border-radius: 16px !important;
	margin-bottom: 10px;

}
.progress-bar{
	border-radius: 16px;
	background: #000 !important;
}
/*---------------Resume--------*/
.resume{
	padding-top: 50px;
	padding-bottom: 30px;
	background: #f9f9f9;
}
.resume h3{
	margin-bottom: 50px;
}
.timeline{
	list-style-type: none;
	position: relative;
}

.timeline:before
{
	content: '';
	background: #555;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}
.timeline li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background: #fff;
}
.timeline li h4{
	background-color: #000;
	padding: 5px 0 5px 20px;
	color:#fff;
	font-size: 15px;
}
.timeline li h4 span{
	font-weight:bold;
	color: #ccc;
}
.timelineLogo {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.timelineLogo:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
.timeline li:before
{
	content: '';
	background-color: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border:3px solid #000;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index:1;
}

/*---------------Services-------------*/
.services
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.services h1{
	margin-bottom: 15px;
}
.services-box{
	background:#f9f9f9;
	padding: 10px;
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
.services-box .fa
{
	margin:0 10px;
	font-size: 20px;
}
.services-box span{
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
}
.services-box p{
	font-size:15px;
	margin-top: 20px;
	color: #777;
}
.services-box:hover
{
	background:#000;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius:50px;
	transition: 1s; 

}
.services-box:hover p{
	color:#fff; 
}
/*----------------Contact-----------*/
.contact{
	padding-top: 50px;
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color:#fff;

}
.contact .row
{
	padding: 30px 0;
	font-size: 22px; 
}
.contact .col-md-4{
	padding: 10px;
	font-size: 40px;
}
.contact .btn{
	padding:10px 25px 10px 25px;
	margin:5px;
	border-radius: 30px;
	border:2px solid #fff;
	background:transparent;
}
.contact .btn:focus{
	box-shadow:none !important;
}
.contact .btn:hover{
	border:2px solid !important;
	background: #000 !important;
	transition: 0.6s;
}
.contact .btn .fa
{
	margin-right: 10px;
}
.footer
{
	background:#000;
	height: 50px;
	margin-top: 50px;
	color:#fff;
	padding-top: 10px; 
}
.fa-heart-o{
	color:red;
}
.contact .small{
	font-size:14px;
}

/*--------Social-Icons---------*/
.social-icons
{
	top:50%;
	transform:translateY(-50%);
	position: sticky;
	z-index: 1;
	width:80px; 
}
.social-icons ul
{
	padding: initial;
}
.social-icons ul li{
	height: 40px;
	width: 40px;
	list-style-type: none;
	padding-left: 12px;
	padding-top: 6px;
	margin-top: 5px;
	color: #fff;
	background: #000;
}
.social-icons ul li:hover{
	padding-left: 30px;
	width: 80px;
	transition: 0.6s; 
}










